@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-primary: #ffffff;
  --secondary-color: #5D5C61;
  --accent-color: #7395AE;
  --light-button: #bdbbb7;
  --text-secondary: #B1A296;
  --dark-text: #557A95;
}

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--accent-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  color: var(--dark-text);
}

/* Transcript Styles */
.row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}

.transcript-container {
  width: 58%;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 275px;
  flex-direction: column;
  border: 1px solid #ccc;
  overflow-y: auto;
  max-height: 275px;
}

.transcript-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1rem;
  height: 55px;
}

.transcript-title {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  color: var(--text-primary);
}

.begin-button {
  background-color: var(--accent-color);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  height: 35px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
}

.begin-button:hover {
  background-color: var(--light-button);
}

.transcript-body {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 20px;
  margin-right: 20px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Summary Styles */
.summary-container {
  width: 40%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 275px;
  overflow-y: auto;
  max-height: 275px;
}

.summary-header {
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--secondary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1rem;
  height: 55px;
  color: var(--text-primary);
  padding: 10px 10px 10px 10px;
}

.summary-body {
  font-size: 1.2rem;
  line-height: 1.5;
}

.summary-list {
  list-style-type: disc;
  margin-left: 1.5rem;
}

/* Answer Styles */
.answer-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
  height: 115px;
}

.answer-header {
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--secondary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1rem;
  height: 55px;
  color: var(--text-primary);
  padding: 10px 10px 10px 10px;
}

.answer-body {
  background-color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Question Styles */
.question-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 10px;
}

.question-field {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  margin-bottom: 1rem;
  font-size: x-large;
}

.submit-button {
  background-color: var(--accent-color);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: var(--light-button);
}

.submit-button:disabled {
  background-color: var(--accent-color);
}

/* Title Styles */
.title-container {
  background-color: var(--secondary-color);
  text-align: center;
  color: var(--dark-text);
  padding: 8px;
}

.title-header {
  font-size: 60px;
}

.subtitle-header {
  font-size: 15px;
}

.footer-text {
  position: relative;
  bottom: 0;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  /* background-color: #7395AE; */
  /* color: black; */
  padding: 15px;
  text-align: center;
}

main {
  margin: 20px;
  margin-left: 5%;
  margin-right: 5%;
}